<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trade.ck181130.commodity_classification.mapper.CommodityMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.trade.ck181130.commodity_classification.model.CommodityModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="descr" property="descr" />
		<result column="parentcode" property="parentcode" />
	</resultMap>
	<!-- table all fields sql片段 -->
	<sql id="Base_Column_List">
		id, code,name, descr,parentcode
	</sql>
	<sql id="Example_Where_Clause">
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="code != null and code != ''">
			and code like #{code}
		</if>
		<if test="name !=null and name !=''">
			and name like #{name}
		</if>
		<if test="descr != null and descr != ''">
			and descr = #{descr}
		</if>
		<if test="parentcode !=null and parentcode !=''">
			and parentcode = #{parentcode}
		</if>
	</sql>
	<insert id="insert" parameterType="Object">
		insert into
		shopping_mal_ckl.commodity_classification(code,name, descr,parentcode)
		values(#{code},#{name},#{descr},#{parentcode})
	</insert>
	<update id="update" parameterType="Object">
		update shopping_mal_ckl.commodity_classification set
		<trim suffixOverrides=",">
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="descr != null and descr != '' ">
				descr = #{descr},
			</if>
			<if test="parentcode != null and parentcode != '' ">
				parentcode = #{parentcode},
			</if>
		</trim>
		where id = #{id}
	</update>
	<update id="updateModel" parameterType="Object">
		update shopping_mal_ckl.commodity_classification set
		<trim suffixOverrides=",">
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="descr != null and descr != '' ">
				descr = #{descr},
			</if>
			<if test="parentcode != null and parentcode != '' ">
				parentcode = #{parentcode},
			</if>
		</trim>
		where code = #{code}
	</update>
	<delete id="delete" parameterType="Object">
		delete from shopping_mal_ckl.commodity_classification where id = #{id}
	</delete>
	<delete id="deleteModel" parameterType="Object">
		delete from shopping_mal_ckl.commodity_classification where code = #{code}
	</delete>
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select id from shopping_mal_ckl.commodity_classification where code=#{code}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from shopping_mal_ckl.commodity_classification
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectAllModel" resultMap="BaseResultMap"
		parameterType="Object">
	    select
		<include refid="Base_Column_List" />
		from shopping_mal_ckl.commodity_classification
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from shopping_mal_ckl.commodity_classification
		<include refid="Example_Where_Clause" /> 
		limit ${rowStart},${pageLimit}
	</select>
	<select id="selectCount" resultType="int" parameterType="Object">
	select count(1) from shopping_mal_ckl.commodity_classification 
	<include refid="Example_Where_Clause"></include>
	</select>
</mapper>